<!DOCTYPE html>
<html>

<head>
    {include file="public/base" /}
     <link rel="stylesheet" href="__CSS__/user.css?__Version__"/>
     <style type="text/css">
     	#orderConfirm .name{
     		width: 60%;
   			display: inline-block;
     	}
     	.left-box,.left-svg{
     		line-height: 80px;
     	}
     	.right-box{
     		width: 80%;
     		padding: 15px 0px;
     	}
     	.left-box .icon{
     		width: 30px;
    		height: 30px;
     	}
     	.left-svg .icon{
     		width: 20px;
    		height: 20px;
    		color: #d7d7d7;
     	}
     	.address{
     		font-size: 12px;
     	}
     	.goodlist{
     		margin-top: 10px;
     	}
     	.blank{
     		height: 20px;
     	}
     	.goodlist li{
     		margin-bottom: 5px;
     	}
     	.good-name{
     		width: 100%;
     		padding: 10px;
     	}
     	.pro-msg{
     		width: 100%;
     		padding: 10px;
     	}
     	.good-img{
     		width: 70px;
     		height: 70px;
     		margin-right: 10px;
     	}
     	.good-img img{
     		width: 70px;
     		min-height: 70px;
     		overflow: hidden;
            display: block;
            border: 1px solid #cccccc;
            vertical-align: center;
     	}
     	.good-msg p{
     		font-size:12px ;
     	}
     	.list-num{
     		width: 100%;
     		padding: 10px;
     		text-align: right;
     	}
     	.price-num{
     		margin-top: 10px;
     	}
     	.user-note {
		    padding: 5px 5px 5px 10px;
		    height: 50px;
		}
		.user-note span{
			font-size: 14px;
		}
		.user-note input{
		    width: 75%;
		    border: none;
		    font-size: 12px;
		    overflow: hidden;
		}
		.exploration-center{
			padding: 10px;
			border-bottom: 1px solid #D7D7D7;
		}
		.exploration-center ul li{
			padding: 5px 0px;
			line-height: 35px;
			font-size: 14px;
		}
		.exploration-center ul li span{
			width: 25%;
			float: left;
			
		}
		.step-content p {
		    margin: 5px 0;
		    font-size: 14px;
		    color: black;
		}
     </style>
</head>

<body onresize="document.activeElement.scrollIntoView(true)">
<header class="mui-bar mui-bar-nav">
    <a href="javascript:history.go(-1)" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">确认订单</h1>
</header>
<div class="mui-content" id="orderConfirm">
    <!-- 己选择地址 -->
    <div class="user-msg clear bw" @click="dizhi">
        <a href="javascript:;" class="clear" v-for=" item in listName" v-if="item.is_default==1">
            <div class="left-box fl">
            	<svg class="icon" aria-hidden="true">
		            <use xlink:href="#icon-dizhiguanli"></use>
		        </svg>
            </div>
            <div class="right-box fl">
            	<div class="name-num cb clear">
	                <span class="name">收货人：{{item.recname}}</span>
	                <span class="phone">{{item.phone}}</span>
	            </div>
	            <p class="address cb" v-text="'收货地址：'+item.area.replace('-','省').replace('-','市')+item.address">
	                
	            </p>
            </div>
            <div class="left-svg fr">
            	<svg class="icon" aria-hidden="true">
		            <use xlink:href="#icon-xiangyou"></use>
		        </svg>
            </div>
        </a>
    </div>
    <div class="location-icon clear"></div>

    
    <!--中间商品-->
   <!-- <div class="goodlist bw clear">-->
        <!--<a href="javascript:;" class="clear">-->
            <ul class="goodlist">
                <li class="bw" v-for="item in cartList">
                	<div class="good-name" v-text="item.goods_name">
                		
                	</div>
                	<div class="pro-msg bg">
                		<div class="good-img fl">
                			<img :src="item.thumb" alt="">
                		</div>
                		<div class="good-msg">
                			<p>
                				<span class="mui-ellipsis-2 cb" v-text="item.spec_key_name.replace('：',':')">                            	</span>
                			</p>
                			<p class="price-num">
                				<span style="color: #f786a3;">￥{{item.member_goods_price}}</span>
                    			<span class="cb fr">x {{item.goods_num}}</span>
                			</p>
                		</div>
                	</div>
                	<div class="blank bw"></div>
                </li>
            </ul>
            <!--<div class="list-num bw">
                	共{{cartList.length}}件
            </div>-->
        <!--</a>-->
    <!--</div>-->
    <!--中间商品 end-->
    <!--支付方式-->
    <div class="step-content clear bw">
        <ul class="way-list ">
            <h1>支付方式</h1>
            <li class="" v-for="item in payMent" style="margin-left: 10px">
                <div class="left_c">
                    <input type="radio" :value="item.code" name="payment" v-if="item.code==1000" checked
                           @click="chosepayment(item)">
                    <input type="radio" :value="item.code" name="payment" v-else="item.code"
                           @click="chosepayment(item)">
                </div>
                <div class="right_c">
                    <h2>{{item.name}}</h2>
                </div>
            </li>
        </ul>

        <!--物流方式-->
        <ul class="way-list bw">
            <h1>物流方式</h1>
            <li class="fl" v-for="item in shippingType" style="margin-left: 10px">
                <input type="radio" v-model="shipping_type" :value="item.value" @click="showInputList(item)">
                <h2 style="margin-right: 20px;">{{item.name}}</h2>

            </li>
           
        </ul>
        <div class="exploration-center" v-show="isShow">
            <h2>门店自取信息</h2>
            <ul>
                <li>
                    <p>体验中心：</p>
                    <select class="mui-btn" v-model="storeindex" @change="changestore">
                        <option value="-1">请选择</option>
                        <option v-for="(item,index) in storeInfo" :value="index">{{item.name}}</option>
                    </select>
                    <input type="text" class="select-input" v-model="address">
                </li>
                <li>
                    <span>预约时间：</span>
                    <div class="">
                        <input type="text" class="select-input " :value="date" onclick="showDate()">
                    </div>
                </li>
                <li>
                    <span>收货人员：</span>
                    <div class="">
                        <input type="text" class="select-input" v-model="consignee">
                    </div>
                </li>
                <li>
                    <span>联系电话：</span>
                    <div class="">
                        <input type="text" class="select-input" v-model="mobile">
                    </div>
                </li>
            </ul>
        </div>
        <div class="user-note">
            <span>订单备注:</span><input type="text" id="valueName" v-model="userNote" placeholder="用户留言内容"/>
        </div>
        
        <div class="aubmit_btn">
            <p>实际付款：￥{{totalGoodsPrice |number}}</p>
            <div class="SubmitOrders" @click="SubmitOrders">提交订单</div>
        </div>
    </div>
    <!--支付方式 end-->
   <!-- <div style="width: 100%;height: 50px"></div>-->
</div>


<!--{include file="public/nav" /}-->
</body>
<script>


    var vm = new Vue({
        el: '#orderConfirm',
        data: {
            isShow: false,
            selected: false,
            token: '',
            totalGoodsPrice: '',
            cartList: '',
            payMent: '',
            userNote: '',
            listName: [],   //收货人信息数据
            goods_sn: '',
            wxURL: '',
            user_address_id: '',
            shippingType: [{name: '邮寄', value: 2, checked: false}, {name: '门店自取', value: 1, checked: true}],
            shipping_type: 2,
            pay_type: 1,
            pay_code: 1000,
            date: '',
            consignee: '',
            mobile: '',
            storeInfo: [],
            store_id: '',
            address: '',
            storeindex: -1
        },
        filters: {
            //保留2位小数点过滤器 不四舍五入
            number:function(value) {
                var toFixedNum = Number(value).toFixed(3);
                var realVal = toFixedNum.substring(0, toFixedNum.toString().length - 1);
                return realVal;
            }
        },
        created:function() {
            __checkLogin();
            this.token = getToken();
            var _this = this;
            //订单提交接口
            axios.get(__apiurl2 + '/order/addpre', {
                headers: {
                    Accept: "application/json; charset=utf-8",
                    Token: this.token,
                    Aid:getAId()
                },
            }).then(function (response) {
            	console.info(response);
                _this.totalGoodsPrice = response.data.data.total_goods_price;
                _this.cartList = response.data.data.cartList;
                _this.payMent = response.data.data.payment;
            }).catch(function (error) {
                mui.alert(error);
            });
            axios.get(__apiurl2 + '/user/getAddress', {
                headers: {
                    Accept: "application/json; charset=utf-8",
                    Token: getToken(),
                    Aid:getAId()
                },
            }).then(function (res){
            	console.info(res);
                _this.listName = res.data.data;
                for (var i in res.data.data) {
                    if (res.data.data[i].is_default == 1) {
                        _this.user_address_id = res.data.data[i].id;
                    }
                }
            }).catch(function (error) {
                mui.alert(error)
            });


        },
        methods: {
            SubmitOrders:function() {
                //订单提交接口2
                axios.post(__apiurl2 + '/order/addsubmit', {
                    shipping_type: this.shipping_type,
                    pay_type: this.pay_type,
                    pay_code: this.pay_code,
                    user_note: this.userNote,
                    store_id: this.store_id,
                    shipping_time: this.date,
                    consignee: this.consignee,
                    mobile: this.mobile,
                    user_address_id: this.user_address_id
                }, {
                    headers: {
                        Accept: "application/json; charset=utf-8",
                        Token: this.token,
                        Aid:getAId()
                    }
                }).then(function (res){
                    if (res.data.status == 100) {
                        mui.alert(res.data.msg,function () {
                           window.location.href= "{:url('order/success')}" + '?id=' + res.data.data.id;
                        });
                    } else {
                        mui.alert(res.data.msg,function () {
                            window.location.href= "{:url('user/address')}"
                        });
                    }
                }).catch(function (error) {
                    mui.alert(error)
                });
            },
            chosepayment:function(obj) {
                if (obj.code == 1000) {
                    this.pay_type = 1;
                } else {
                    this.pay_type = 2;
                }
                this.pay_code = obj.code;
            },
            //显示门店信息
            showInputList:function(obj) {
                this.shipping_type = obj.value;
                if (this.shipping_type == 1) {
                    //获取门店信息
                    var _this = this;
                    if (_this.storeInfo.length == 0) {
                        axios.get(__apiurl2 + '/order/setorderstore', {
                            headers: {
                                Accept: "application/json; charset=utf-8",
                                Token: getToken(),
                                Aid:getAId()
                            },
                        }).then(function (res){
                            _this.storeInfo = res.data.data;
                        }).catch(function (error){
                            mui.alert(error)
                        });
                    }
                    this.isShow = true;
                }
                else {
                    this.isShow = false;
                }
            },
            changestore:function() {
                if (this.storeindex == -1) {
                    this.store_id = '';
                    this.address = '';
                    return false;
                }
                this.store_id = this.storeInfo[this.storeindex].id;
                this.address = this.storeInfo[this.storeindex].province_name + this.storeInfo[this.storeindex].city_name + this.storeInfo[this.storeindex].district_name + this.storeInfo[this.storeindex].address;
            },
            //地址
            dizhi:function(){
                window.location.href="{:url('user/address')}?type=1"
            }
        }
    });


    var dtpicker = new mui.DtPicker({
        type: "datetime",//设置日历初始视图模式
        beginDate: new Date(2015, 04, 25),//设置开始日期
        endDate: new Date(2026, 04, 25),//设置结束日期
        labels: ['年', '月', '日', '时', '分'],//设置默认标签区域提示语
        value: "2018-01-01 12:00"
    })
    dtpicker.hide();

    function showDate() {
        dtpicker.show(function (e) {
            vm.date = e.text;
        })
    }
</script>

</html>